// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.

/* Action bar*/
.action-bar-title {
  horizontal-align: center;
  font-family: $muli-semibold;
  color: $ab-color;
}

.action-bar {
  background-color: $plum;
}

/* AR */
.ar-screenshot {
  font-family: $muli-semibold;
  font-size: 18;
  padding-top: 10;
  padding-bottom: 10;
  padding-left: 10;
  padding-right: 38.5;
}

.ar-flashlight {
  padding: 10;
  font-family: $muli-semibold;
}

/* Button */
.btn {
  color: white;
  background-color: $plum;
  font-family: $muli-semibold;
  font-size: 16;
  border-radius: 3;
}

.btn-outline {
  color: $plum;
  background-color: transparent;
}

.btn-text-only {
  color: $plum;
}

/* Card */

.card {
  background-color: white;
  width: 155;
}

.card-content {
  padding: 20;
  font-size: 14;
  color: $plum-text;
  font-family: $muli-semibold;
}

/* Custom Modal Dialog */

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.dialogOpen .content,
.dialogOpen .action-bar,
.dialogOpen .action-bar-title {
  opacity: 0.4;
}

.dialogOpen .dialog-wrapper {
  visibility: visible;
  animation-name: show;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.dialog-wrapper {
  visibility: collapse;
  opacity: 0;
  width: 330;
}

.dialog {
  border-width: 1;
  border-color: $plum-input-border;
  background-color: white;
  width: 100%;
  margin-top: 10;
  padding: 20;
  border-radius: 3;
}

.dialog .dialog-label {
  margin: 0 15 15 15;
  color: $plum-text;
  font-family: $muli-semibold;
}

.dialog .fa-icon-large {
  color: $plum-icon-highlight;
}

/* Form */

.form-header {
  background-color: $plum-form-header-bg;
  padding: 10;
}

.form-content {
  background-color: $plum-form-content-bg;
  padding: 10;
}

.form-content-block {
  border-width: 1;
  border-radius: 3;
  border-color: $plum-input-border;
  background-color: white;
  width: 90%;
}

.form-input {
  border-width: 1;
  border-color: $plum-input-border;
  background-color: $background-light;
  padding: 10;
  border-radius: 3;
}

.form-input-required {
  border-color: $error-light;
}

/* Label */

.lbl {
  color: $plum-text;
  font-family: $muli-semibold;
}

.lbl-light {
  color: $plum-text-light;
  font-size: 15;
}

.lbl-bold {
  font-weight: bold;
}

.lbl-form-required {
  color: $error-light;
  font-size: 12;
}

/* List */

.list-card {
  width: 95%;
  background-color: white;
}

.list-divider {
  background-color: $background-light;
}

.list-divider-dark {
  background-color: $background-dark;
}

.list-avatar {
  border-radius: 50%;
}

.list-info {
  padding: 15;
  font-family: $muli-semibold;
  color: $plum-text;
}

.list-info-detail {
  padding: 10;
}

.list-info .name {
  font-size: 16;
}

.list-info .rating {
  font-size: 14;
}

.list-info-detail .rating {
  font-size: 18;
}

.list-info .title {
  font-size: 14;
  color: $plum-text-light;
}

.list-info-detail .title {
  font-size: 16;
}

.list-info-desc {
  font-size: 14;
}

.list-info-desc-detail {
  font-size: 16;
}

.note-title {
  font-size: 16;
  font-weight: bold;
  font-family: $muli-semibold;
}

.note-text {
  font-size: 14;
  color: $plum-text-light;
}

.list-btn {
  color: $plum-text-white;
  font-size: 14;
  font-weight: bold;
  font-family: $muli-semibold;
}

.list-btn label {
  padding-left: 20;
  padding-right: 20;
}

.list-delete-btn {
  background-color: $error-dark;
}

.list-edit-btn {
  background-color: $plum;
}

/* Progress */

.progressbar {
  height: 30;
  margin: 10;
  border-radius: 10;
  background: #eceff1;
}
.progressbar-value {
  background: $plum;
}

/* Search */

.search-bar {
  font-family: $muli-semibold;
}

/* Slider */

.slider {
  background-color: $plum;
}

/* Switch */

.switch {
  background-color: $plum;
}

.switch-light {
  background-color: $plum-text-light;
}

/* Misc */

.logo {
  margin-top: 60;
  margin-bottom: 30;
}

.profile-pic {
  border-radius: 50%;
}

.plum-text {
  font-family: $muli-semibold;
}

.fa {
  font-family: 'FontAwesome';
}

.fa-icon-large {
  font-size: 80;
  color: $plum-text-light;
}

.fa-icon-medium {
  font-size: 22;
  color: $plum-text-light;
}

.fa-icon-filter {
  font-size: 26;
  margin-top: -10;
}

.fa-list-star {
  color: #ffa300;
}

.fa-list-heart {
  color: $plum-heart;
  vertical-align: top;
  padding-top: 20;
}

.ab-fa-list-heart {
  color: $plum-heart;
}

.ab-heart-label {
  color: white;
  margin-right: 5;
}
