@import 'app-root-common';

// Place any CSS rules you want to apply only on Android here

.ab-heart-label {
  margin-right: -5;
  margin-top: 12;
}

.fa-icon-filter {
  margin-top: 10;
}

.fa-icon-medium {
  margin-top: 10;
}

.fa-list-star {
  margin-top: 5;
}
